.App {
  text-align: center;
  background-color: black;
  position: absolute; 
  top: 0; 
  left: 0;  
  transform: translateX(0);

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

